n8n_workflows/1_QualGetFiles.json
{
  "name": "1_QualGetFiles",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        192
      ],
      "id": "774d5392-7346-4dff-8e1c-9983dd552e6c",
      "name": "Telegram Trigger",
      "webhookId": "0fbad69f-a320-44a5-8ec4-3d5bf50cd379",
      "credentials": {
        "telegramApi": {
          "id": "4EWvhWsUO2UFBWsE",
          "name": "TestEcooknaBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a856c0e0-a669-4e79-81b7-d65a57289f27",
              "leftValue": "={{ $json.message.document.mime_type }}",
              "rightValue": "=application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        192
      ],
      "id": "82c6c3df-c1fa-4afe-891d-cd6793636c71",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Извините, я могу обрабатывать только файлы в формате pdf",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        384
      ],
      "id": "4ae65ecf-51f7-4df0-80d2-c29c54a9157f",
      "name": "Send a text message1",
      "webhookId": "7bfb0d71-9723-487f-988e-d9a9ab913c0f",
      "credentials": {
        "telegramApi": {
          "id": "4EWvhWsUO2UFBWsE",
          "name": "TestEcooknaBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Ждите, файл обрабатывается.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b6ea172b-67d6-43e0-944a-7c9193c635b9",
      "name": "Send a text message2",
      "webhookId": "1f0c8ced-bd28-47b1-ba00-67f6f2d5a093",
      "credentials": {
        "telegramApi": {
          "id": "4EWvhWsUO2UFBWsE",
          "name": "TestEcooknaBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "3d20dfc0-b045-45a5-8b71-801b4da88541",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "6b6eaca5-a9b0-49d3-b654-d5c99cebc26f",
      "name": "Get a file1",
      "webhookId": "d62cf1b7-d3be-4595-a0dc-dfd5df24ffd7",
      "credentials": {
        "telegramApi": {
          "id": "4EWvhWsUO2UFBWsE",
          "name": "TestEcooknaBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Парсит текст и возвращает items\n * в формате колонок qual_analize_pos.\n */\n\nconst mainItem = items[0];\nconst text = String(mainItem?.json?.text ?? \"\");\n\n// Номер: допускаем пробелы/переносы внутри\nconst ITEM_RE =\n  /(\\d{2}-\\d{3}-\\s*\\d{4}\\/\\d+\\/\\d+(?:[\\/\\w-]*))\\s+([\\s\\S]*?)\\s*\\(\\s*(\\d+)(?:\\s*мм)?\\s*\\)(?:\\s*мм)?\\s+(\\d+)\\s*[x×хХ]\\s*(\\d+)\\s+(\\d+)\\s+([\\d.,]+)\\s+([\\d.,]+)/gi;\n\nconst LAYOUT_RE = /Раскладка\\s+([^\\r\\n]+)/i;\n\n// PARSE\nconst blocks = text.split(/Итого по изделию:/i);\nconst outputItems = [];\n\nfor (const block of blocks) {\n  const r = block.match(LAYOUT_RE);\n  const layout = r ? r[1].trim() : null;\n\n  ITEM_RE.lastIndex = 0;\n  let m;\n\n  while ((m = ITEM_RE.exec(block)) !== null) {\n    const номер = String(m[1]).replace(/\\s+/g, \"\").trim();\n    \n    // Сырая формула (может содержать \"Вид СНАРУЖИ\" и т.д.)\n    const rawFormula = String(m[2]).replace(/\\s+/g, \" \").trim();\n\n    const толщина_мм = parseInt(m[3], 10);\n    const ширина = parseInt(m[4], 10);\n    const высота = parseInt(m[5], 10);\n    const количество = parseInt(m[6], 10);\n    const площадь = parseFloat(String(m[7]).replace(\",\", \".\"));\n    const масса = parseFloat(String(m[8]).replace(\",\", \".\"));\n\n    // ---- is_outside (проверяем по сырой строке) ----\n    const formulaUpper = rawFormula.toUpperCase();\n\n    const is_outside =\n      formulaUpper.includes(\"СНАРУЖИ\") ||\n      formulaUpper.includes(\"НАРУЖУ\") ||\n      /FS$/i.test(rawFormula);\n      \n    // ---- Нормализация формулы (берем всё после последнего пробела) ----\n    // Если пробелов нет, split вернёт массив из 1 элемента, pop() вернёт его же.\n    const cleanFormula = rawFormula.split(\" \").pop();\n\n    outputItems.push({\n      position_num: номер,\n      position_formula: cleanFormula,\n      position_raskl: layout ?? \"отсутствует\",\n      position_width: Number.isFinite(ширина) ? ширина : null,\n      position_hight: Number.isFinite(высота) ? высота : null,\n      position_count: Number.isFinite(количество) ? количество : null,\n      position_area: Number.isFinite(площадь) ? площадь : null,\n      position_mass: Number.isFinite(масса) ? масса : null,\n      is_outside,\n\n      // если понадобится\n      // position_thickness: Number.isFinite(толщина_мм) ? толщина_мм : null,\n    });\n  }\n}\n\nreturn outputItems.map((i) => ({ json: i }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        192
      ],
      "id": "8424c0fd-c8f1-4254-bb57-3d8a53a78e01",
      "name": "FullJSON"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "qual_analize_files",
          "mode": "list",
          "cachedResultName": "qual_analize_files"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $now }}",
            "file_name": "={{ $('Telegram Trigger').item.json.message.document.file_name }}",
            "tg_username": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }} ({{ $('Telegram Trigger').item.json.message.from.username }})",
            "tg_chatid": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_by",
              "displayName": "updated_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nc_order",
              "displayName": "nc_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_path",
              "displayName": "file_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "responce",
              "displayName": "responce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tg_username",
              "displayName": "tg_username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tg_chatid",
              "displayName": "tg_chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rules",
              "displayName": "rules",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "used_prompt",
              "displayName": "used_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        192
      ],
      "id": "689bb429-dac9-4435-8503-0ec103ef0f43",
      "name": "CreateRow",
      "credentials": {
        "postgres": {
          "id": "6JdB36rnzSP4vDVm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mtMpIJdu5s3Yq8gF",
          "mode": "list",
          "cachedResultUrl": "/workflow/mtMpIJdu5s3Yq8gF",
          "cachedResultName": "2_QualAnalizeFiles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "id": "={{ $('CreateRow').item.json.id }}"
          },
          "matchingColumns": [
            "data",
            "prompts",
            "message_chat_id",
            "id",
            "GetPositionPrompt_prompts"
          ],
          "schema": [
            {
              "id": "message_chat_id",
              "displayName": "message_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2240,
        480
      ],
      "name": "Call AnalizeQualControl",
      "id": "865c7b86-c81f-4a8c-8485-c7f84cb35b2b",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "qual_analize_pos",
          "mode": "list",
          "cachedResultName": "qual_analize_pos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $('CreateRow').item.json.id }}",
            "position_width": "={{ $json.position_width }}",
            "position_hight": "={{ $json.position_hight }}",
            "position_count": "={{ $json.position_count }}",
            "position_area": "={{ $json.position_area }}",
            "position_mass": "={{ $json.position_mass }}",
            "date_created": "={{ $now }}",
            "position_num": "={{ $json.position_num }}",
            "position_formula": "={{ $json.position_formula }}",
            "position_raskl": "={{ $json.position_raskl }}",
            "updated_at": "={{ $now }}",
            "is_oytside": "={{ $json.is_outside }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_created",
              "displayName": "date_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_num",
              "displayName": "position_num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_formula",
              "displayName": "position_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_raskl",
              "displayName": "position_raskl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_width",
              "displayName": "position_width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_hight",
              "displayName": "position_hight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_width_round",
              "displayName": "position_width_round",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position_hight_round",
              "displayName": "position_hight_round",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position_count",
              "displayName": "position_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_area",
              "displayName": "position_area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_mass",
              "displayName": "position_mass",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "position_formula_slip",
              "displayName": "position_formula_slip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "article_json",
              "displayName": "article_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "f1",
              "displayName": "f1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "f2",
              "displayName": "f2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cam_count",
              "displayName": "cam_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "overall_status",
              "displayName": "overall_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "overall_message",
              "displayName": "overall_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_oytside",
              "displayName": "is_oytside",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        192
      ],
      "id": "d2abb081-cab7-4783-ad7e-13192ee9370f",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "6JdB36rnzSP4vDVm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mainItem = items[0];\nconst text = String(mainItem?.json?.text ?? \"\");\n\n// Проверяем, что текст начинается со строки \"Заполнения \"\n// - допускаем пробелы/переносы в начале\n// - требуем пробел после слова (как ты просил)\n// - регистр не важен\nconst startsWithZapolneniya = /^\\s*Заполнения\\s+/i.test(text);\n\n// Вариант: вернем \"clean_text\", чтобы дальше было стабильнее (без BOM)\nconst clean_text = text.replace(/^\\uFEFF/, \"\"); // если вдруг прилетел BOM\n\nreturn [\n  {\n    json: {\n      starts_with_zapolneniya: startsWithZapolneniya,\n      // можно пригодится в логах\n      first_line: clean_text.split(/\\r?\\n/)[0] ?? \"\",\n      // чтобы следующая нода брала именно его:\n      text: clean_text,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        192
      ],
      "id": "cc57bbfb-d7f6-4396-a377-0d9e6c94c38a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32e460e4-58ff-4f1b-b0b5-1aa3bf72ab49",
              "leftValue": "={{ $json.starts_with_zapolneniya }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        256
      ],
      "id": "98ea6aaa-67b9-45e0-ba39-df3da16fb285",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Извините, я могу обрабатывать только файлы в формате pdf. Вышлите шаблон из программы StartОкна  \"3.4 Заполнения\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        384
      ],
      "id": "599e691d-7b97-4fe1-a7c8-463f4ef14273",
      "name": "Send a text message",
      "webhookId": "7bfb0d71-9723-487f-988e-d9a9ab913c0f",
      "credentials": {
        "telegramApi": {
          "id": "4EWvhWsUO2UFBWsE",
          "name": "TestEcooknaBot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Q6rOHC55nL6B2Fda",
          "mode": "list",
          "cachedResultUrl": "/workflow/Q6rOHC55nL6B2Fda",
          "cachedResultName": "2_SmallReport"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $('CreateRow').item.json.id }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2240,
        240
      ],
      "name": "Call 2_SmallReport",
      "id": "c9463618-a0bb-43ff-a6bf-b3a05f6df2b7",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HnXUOZ31uHmUTNx1",
          "mode": "list",
          "cachedResultUrl": "/workflow/HnXUOZ31uHmUTNx1",
          "cachedResultName": "3_QualGenerateReport"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('CreateRow').item.json.id }}",
            "message_chat_id_firstItem": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "message_chat_id_firstItem",
              "displayName": "message_chat_id_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2240,
        32
      ],
      "name": "Call 2_SmallReport1",
      "id": "d174c3cd-81bc-42bd-b562-1c69d718dbee",
      "executeOnce": true
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 293524328,
          "message": {
            "message_id": 4859,
            "from": {
              "id": 741409270,
              "is_bot": false,
              "first_name": "Роман",
              "last_name": "Галеев",
              "username": "galeev_r",
              "language_code": "ru"
            },
            "chat": {
              "id": 741409270,
              "first_name": "Роман",
              "last_name": "Галеев",
              "username": "galeev_r",
              "type": "private"
            },
            "date": 1770747840,
            "document": {
              "file_name": "00-151-1022 тест.pdf",
              "mime_type": "application/pdf",
              "thumbnail": {
                "file_id": "AAMCAgADGQEAAhL7aYt3wFxSSo5Rgl9pbt4qgUomMgwAAieVAAJHH1lICekOtacgxGMBAAdtAAM6BA",
                "file_unique_id": "AQADJ5UAAkcfWUhy",
                "file_size": 12992,
                "width": 226,
                "height": 320
              },
              "thumb": {
                "file_id": "AAMCAgADGQEAAhL7aYt3wFxSSo5Rgl9pbt4qgUomMgwAAieVAAJHH1lICekOtacgxGMBAAdtAAM6BA",
                "file_unique_id": "AQADJ5UAAkcfWUhy",
                "file_size": 12992,
                "width": 226,
                "height": 320
              },
              "file_id": "BQACAgIAAxkBAAIS-2mLd8BcUkqOUYJfaW7eKoFKJjIMAAInlQACRx9ZSAnpDrWnIMRjOgQ",
              "file_unique_id": "AgADJ5UAAkcfWUg",
              "file_size": 633454
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "CreateRow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FullJSON": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateRow": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Call AnalizeQualControl",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 2_SmallReport",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 2_SmallReport1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "FullJSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08bef6bf-c579-43f2-bca6-dba2b24cb87c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "721ab70d4d315d54bed19e17cef2128dfab1224c2d6738b18ce1e1f980f69628"
  },
  "id": "0WhamufzEDNcghNE",
  "tags": []
}